* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body, html {
height: 100%;
scroll-snap-type: y mandatory;
}

.box {
height: 100vh;
scroll-snap-align: start;
display: flex;
color: white;
font-family: Helvetica;
justify-content: center;
align-items: center;
font-size: 2em;
background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
}

.footer {
background: black;
color:white;
}

.image-container {
position: relative;
width: 100%;
height: 100%;
}

.bgpng {
width: 100%;
height: 100%;
object-fit: cover;
filter: blur(5px); /* Ensures the image fills the container */
}

.text-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: rgb(239, 239, 255); /* Text color */
font-size: 1em; /* Adjust font size as needed */
}

.scroll-to-top {
position: fixed;
bottom: 20px;
right: 20px;
cursor: pointer;
z-index: 9999;
}

.circle {
width: 40px;
height: 40px;
background-color: white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.circle:before {
content: "↑";
color: black;
font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: white; /* Set text color to contrast with the background */
    border: none; /* Remove default button border */
  }
  
  /* Adjust button styles as needed */
  .button-container button {
    margin-right: 60px;
  }
  
  /* Remove the right margin from the last button to avoid extra space */
  .button-container button:last-child {
    margin-right: 0;
  }