@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fadeInRight 1.6s ease-in-out forwards;
  opacity: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  .footer {
  background: black;
  color:white;
  }

